
$primary-color: #ff0000;
$secondary-color: #00ff00;

.App {
  text-align: center;

  h1 {
    color: $primary-color;
/*  color: blue;
    background-color: yellow; */
    font-size: 40px;
  }

  p {
    color: $secondary-color;
    font-size: 25px;
  }
}

